<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	stopOnFailure="false"
	processIsolation="false"
	cacheResult="false"
	>
	<testsuites>
		<testsuite name="Unit">
			<directory suffix="Test.php">./tests/Unit/</directory>
		</testsuite>
		<testsuite name="Integration">
			<directory suffix="Test.php">./tests/Integration/</directory>
		</testsuite>
		<testsuite name="all">
			<directory suffix="Test.php">./tests/</directory>
		</testsuite>
	</testsuites>
	<coverage>
		<include>
			<directory suffix=".php">./app</directory>
		</include>
		<exclude>
			<directory>./vendor</directory>
			<directory>./tests</directory>
			<directory>./node_modules</directory>
		</exclude>
	</coverage>
	<logging>
		<junit outputFile="tests/results/junit.xml"/>
		<testdoxHtml outputFile="tests/results/testdox.html"/>
	</logging>
</phpunit>
